/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
.myCursor{
	cursor:url(guisprites/dwarven_gauntlet.png), auto 	;
}
.bodyStyle{
	background: url(guisprites/paper.png);
	cursor:url(guisprites/dwarven_gauntlet.png), auto 	;
	
}
.buttonsImage{
	background-image: url("guisprites/2.png"); !important;
 text-align: center;
 
}
.buttonsImageHover{
	background-image: url("guisprites/1.png"); !important;
 text-align: center;
 
}


.buttonsLabel{
	color:red;
	padding-top: 20px;
	font-family: TheRing !important;
	font-size: 35px;
	
}
/* Bold declaration only for non-IE browsers */
@font-face {
    font-family: 'TheRing';
    src: local('TheRing'),
         local('TheRing'),
         url('res/font/The Ring.ttf') format('truetype');
    font-weight: bold;
}
 
body {
     font-family: "TheRing", "Arial", "Helvetica", sans-serif;
}
.whitetext{
	color:white;
}